/* GENERATED SCAFFOLD */

body { background-color: #ffef90; color: #000; }

body, p, ol, ul, td {
  font-family: helvetica, arial, sans-serif;
  font-size:   16px;
  line-height: 20px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { 
  color: #00a; 
}

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}


/* CUSTOM STYLES */

body {
  margin: 0;
}

#nav  {
  width: 100%;
  background-color: #4ac;
  padding: 0.5em;
  font-size: 2em;
  border-bottom: 16px dotted #ffef90;
}

#nav a {
  color: #fff;
  text-decoration: none;
}

#nav a:hover {
  text-decoration: underline;
}

#nav form {
  display: inline;
}

#nav input {
  font-size: 1em;
}


#main {
  padding: 2em;
}

table.index {
  width: 100%;
  border-spacing: 0;
}

table.index th {
  text-align: left;
  font-size: 1.2em;
}

table.index td {
  padding: 0.2em;
}

table.index tr:hover {
  background-color: #ddd;
}

#thing_new_place {
  display: none;
  margin-left: 1em;
}