<h1>Tags</h1>

<table class="index">
  <tr>
    <th>Tag</th>
    <th>Things</th>
  </tr>

<% @tags.each do |tag, weight| %>
  <tr>
    <td><%= link_to tag, tag_things_path(:tag => tag) %></td>
    <td>
      <% Thing.tagged_with(tag).each do |thing| %>
        <%= thing_link(thing) %> &nbsp;
      <% end %>
    </td>
  </tr>
<% end %>
</table>
